/*start css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
html {
  height: 100%;
  text-transform: lowercase;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  font-size: 20px;
  line-height: 1.3;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0px;
  flex: 1;
}
.left-column {
  display: flex;
  place-content: center;
  justify-self: end;
  margin: 0px;
  padding: 0px;
}
.left-column-main-image {
  display: block;
  max-width: 100%;
  place-self: center;
}
.right-column {
  display: grid;
  padding: 0px;
  justify-self: start;
}
mark {
  background: #9795ae;
  color: #fff;
  padding: 4px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
}
